section .introBox {
    color: #f5f5f5;
    display: grid;
    grid-template-columns: max(40vw, 600px) 1fr;
    overflow-x: hidden;
}

section .mainHomeImg {
    width: max(40vw, 600px);
    box-shadow: 5px 5px 12px #0a0a0a8f;
}

section .introBoxText {
    align-self: center;
    justify-self: center;
    background-color: #0a0a0a8f;
    border-radius: 10px;
    min-height: 60%;
    padding: 1rem;
    box-shadow: 5px 5px 8px #044233a4;
    animation: fade-in 1s;
}

section .introBoxText h2 {
    margin-left: 5%;
    font-size: 48px;
    text-decoration: underline;
    text-underline-offset: 13px;
    animation: fade-in 1.5s;
}

section .introBoxText p {
    margin-left: 5%;
    font-size: x-large;
    animation: fade-in 1.5s;
    padding-right: 15%;
}

section .introBoxText p > a {
    color: #f5f5f5;
}



@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}



@media (max-width: 1200px) {
    section .introBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section .introBoxText {
        margin-top: 1.5rem;
    }
}